.settings-form .panel {
  border-top: none;
}
.settings-hasRowLast {
  padding-bottom: 0;
}
.settings-form textarea[name="licenseKey"] {
  font-family: Consolas, Menlo, Monaco, monospace;
  height: 256px;
}
.settings-form input[readonly] {
  cursor: default;
}
.settings-form input[name="password"] {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}
.settings-form textarea[name="serviceTagLabelCode"] {
  font-family: Consolas, Menlo, Monaco, monospace;
}
