<form class="page-actions-jump" title="<%- t(nlsDomain, 'PAGE_ACTION:jump:title') %>">
  <div class="input-group">
    <input name="rid" type="text" class="form-control" placeholder="<%- t(nlsDomain, 'PAGE_ACTION:jump:placeholder') %>" required autofocus pattern="^ *[0-9]+ *$">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>
