<div class="page">
  <div class="hd">
    <nav class="navbar navbar-default"></nav>
    <div class="page-alerts"></div>
    <div class="page-header">
      <ul class="page-actions"></ul>
      <ul class="page-breadcrumbs"></ul>
    </div>
  </div>
  <div class="bd"></div>
  <div class="ft">
    <p>
      Walkner Xiconf <span id="<%- idPrefix %>-version"><%- version %></span><br>
      <a href="http://miracle.systems/">miracle.systems</a>
    </p>
  </div>
</div>
