<div class="printLayout">
  <div class="print-pages">
    <div class="print-page">
      <div class="print-page-hd">
        <p class="print-page-hd-right"></p>
        <p class="print-page-hd-left"></p>
      </div>
      <div class="print-page-bd"></div>
      <div class="print-page-ft">
        <p class="print-page-ft-right"><%- t('emptyOrders', 'PRINT_PAGE:FT:PAGE_NO') %></p>
        <p class="print-page-ft-left"><%- t('emptyOrders', 'PRINT_PAGE:FT:INFO') %></p>
      </div>
    </div>
  </div>
</div>
