<div>
  <p><%- message %></p>
  <button class="btn btn-<%- buttonClassName %> dialog-answer" type="button" data-answer="yes">
    <%- action %>
  </button>
  <button class="btn btn-link cancel" type="button">
    <%- t('history', 'toggleResultDialog:cancel') %>
  </button>
</div>
