@import url("../vendor/bootstrap/css/bootstrap.css");
@import url("../vendor/font-awesome/css/font-awesome.css");
@import url("../vendor/flipster/jquery.flipster.css");
@import url("../vendor/highlight/styles/monokai.css");
@import url("../app/core/assets/main.css");
@import url("../app/dashboard/assets/main.css");
@import url("../app/xiconfPrograms/assets/main.css");
@import url("../app/history/assets/main.css");
@import url("../app/settings/assets/main.css");
@import url("../app/updater/assets/main.css");

#app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
  width: 64px;
  height: 64px;
  font-size: 64px;
  text-align: center;
  color: #00af00;
}
#app-loading.error {
  color: red;
}
