.is-waitingForHidLamps .dashboard-history,
.is-waitingForLeds .dashboard-history,
.is-waitingForComponentWeight .dashboard-history {
  display: none;
}
.dashboard-history .list-group {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 0;
  padding: 0 0 24px 0 ;
  height: 267px;
  border: 1px solid #ccc;
}
.dashboard-history .list-group-item {
  display: table-row;
  padding: 0;
  border-width: 1px 1px 0 0;
  border-color: #ccc;
  line-height: 1;
  white-space: nowrap;
}
.dashboard-history .list-group-item:first-child {
  border-top-width: 0;
  font-weight: bold;
}
.dashboard-history .list-group-item.is-cancelled {
  background-color: #eee;
  color: #333;
}
.dashboard-history .list-group-item.is-cancelled:hover {
  background-color: #ddd;
}
.dashboard-history span {
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  border-right: 1px solid #ccc;
  width: 1%;
  border-bottom: 1px solid #ccc;
}
.dashboard-history .dashboard-history-programName {
  text-align: left;
}
.dashboard-history span:last-child {
  width: auto;
}
.dashboard-history .fa-spinner {
  margin: 7px;
  font-size: 58px;
}
.dashboard-history .fa-spinner.is-error {
  color: #e00;
}
.dashboard-history-title {
  font-style: normal;
  float: right;
}
.dashboard-history-serviceTag {
  color: #337ab7;
}
.dashboard-history-serviceTag:hover {
  color: #23527c;
}
kbd[data-hotkey="focusHistory"] {
  top: 30px;
  right: 18px;
  border-top-right-radius: 0;
}
