.dashboard-input .form-control {
  padding: 0 5px;
  height: 70px;
  line-height: 1;
  font-family: Consolas, monospace;
  font-size: 50px;
  text-align: center;
}
.dashboard-input .form-control[readOnly] {
  user-select: none;
}
.dashboard-input-orderNoAndQuantity {
  display: flex;
}
.dashboard-input-orderNo {
  width: 316px;
}
.dashboard-input-quantity {
  margin-left: 14px;
  width: 185px;
}
.dashboard-input-quantity > .is-overflow {
  outline: 4px solid #c7254e;
  background-color: rgba(199, 37, 78, 0.25);
}
.dashboard-input-nc12 > .form-control {
  position: relative;
  z-index: 2;
}
.dashboard-input-nc12.is-weight-enabled > .form-control,
.dashboard-input-nc12.is-ft-enabled > .form-control,
.dashboard-input-nc12.is-hid-enabled > .form-control,
.dashboard-input-nc12.is-ledOnly > .form-control,
.dashboard-input-nc12.is-testOnly > .form-control,
.dashboard-input-nc12.is-noProgram > .form-control,
.dashboard-input-nc12.is-noProgramming > .form-control {
  outline: 4px solid #5cb85c;
  background-color: rgba(92, 184, 92, .25);
}
.dashboard-input-nc12.is-ft-disabled > .form-control,
.dashboard-input-nc12.is-hid-disabled > .form-control {
  outline: 4px solid #f0ad4e;
  background-color: rgba(240, 173, 78, .25);
}
.dashboard-input-nc12-overlay {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  line-height: 35px;
  z-index: 1;
}
.is-weight-enabled > .dashboard-input-weight-enabled,
.is-ft-enabled > .dashboard-input-ft-enabled,
.is-ft-disabled > .dashboard-input-ft-disabled,
.is-hid-enabled > .dashboard-input-hid-enabled,
.is-hid-disabled > .dashboard-input-hid-disabled,
.is-ledOnly > .dashboard-input-ledOnly,
.is-testOnly > .dashboard-input-testOnly,
.is-noProgram > .dashboard-input-noProgram,
.is-noProgramming > .dashboard-input-noProgramming,
.is-multi > .dashboard-input-multiNc12 {
  display: block;
}
.is-multi.is-picked > .dashboard-input-multiNc12 {
  display: none;
}
.is-idle .dashboard-input-orderNo.is-multi > .form-control {
  cursor: pointer;
  background-color: #fefefe;
}
.is-idle .dashboard-input-nc12.is-multi > .form-control {
  cursor: pointer;
  outline: 4px solid #f0ad4e;
  background-color: rgba(240, 173, 78, .25);
}
.dashboard.is-idle[data-input-mode="remote"] .dashboard-input-orderNo.is-multi > kbd,
.dashboard.is-idle[data-input-mode="remote"] .dashboard-input-nc12.is-multi > kbd {
  display: inline!important;
  z-index: 3;
}
.is-idle .dashboard-input-orderNo.is-selecting > .form-control,
.is-idle .dashboard-input-nc12.is-selecting > .form-control {
  cursor: wait;
}
.dashboard-input-actions {
  position: absolute;
  top: 0;
  right: 0;
}
.dashboard-input-actions > kbd {
  position: static;
  display: inline-block;
}
.dashboard-input-actions > .btn-link {
  margin-left: 10px;
  padding: 0;
  line-height: 1;
  font-size: 24px;
}
.dashboard-input kbd.is-inside {
  bottom: 1px;
  right: 1px;
  z-index: 2;
}
.dashboard-input-buttons kbd.is-inside {
  bottom: 0;
  right: 0;
}
.dashboard-input-buttons {
  display: flex;
}
.dashboard-input-buttons > .btn {
  padding: 0;
  width: 480px;
  height: 70px;
  line-height: 68px;
  font-size: 48px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #333;
}
.dashboard-input-buttons > .btn > kbd {
  text-shadow: none;
}
.dashboard-input-cancel,
.dashboard-input-toggleWorkMode,
.dashboard-input-continue {
  display: none;
}
.is-inProgress .dashboard-input-cancel,
.is-workModeChangeEnabled .dashboard-input-toggleWorkMode,
.is-waitingForContinue .dashboard-input-continue {
  display: inline-block;
}
.is-waitingForContinue[data-waiting^="weight"] .dashboard-input-continue {
  display: none;
}
.is-inProgress .dashboard-input-start,
.is-inProgress .dashboard-input-toggleWorkMode {
  display: none;
}
.dashboard-input-buttons > .dashboard-input-toggleWorkMode,
.dashboard-input-buttons > .dashboard-input-continue {
  width: 114px;
}
.dashboard-input-toggleWorkMode > .fa,
.dashboard-input-continue > .fa {
  vertical-align: top;
  font-size: 64px;
  line-height: 68px;
}
.dashboard-input-toggleWorkMode > .fa-list-ol,
.dashboard-input-continue > .fa {
  font-size: 48px;
}
.dashboard[data-work-mode="programming"] .dashboard-input-toggleWorkMode > .fa-list-ol,
.dashboard[data-work-mode="testing"] .dashboard-input-toggleWorkMode > .fa-smile-o {
  display: inline-block;
}
.dashboard[data-work-mode="testing"] .dashboard-input-toggleWorkMode > .fa-list-ol,
.dashboard[data-work-mode="programming"] .dashboard-input-toggleWorkMode > .fa-smile-o {
  display: none;
}
.dashboard[data-input-mode="remote"] .dashboard-input-orderNo .dashboard-input-actions,
.dashboard[data-input-mode="remote"] .dashboard-input-orderNo > kbd,
.dashboard[data-input-mode="remote"] .dashboard-input-quantity > kbd,
.dashboard[data-input-mode="remote"] .dashboard-input-nc12 > kbd {
  display: none!important;
}
.dashboard-continue > .fa {
  font-size: 84px;
  margin-bottom: 14px;
}
.dashboard-continue > p {
  font-size: 28px;
}
.dashboard-continue > p > kbd {
  position: static;
  font-size: inherit;
  line-height: 1;
  text-shadow: none;
}
.dashboard-input-nc12AndGprs {
  display: flex;
  margin: 14px 0;
}
.dashboard-input-gprs {
  display: none;
  margin-left: 14px;
  width: 233px;
}
.is-gprs .dashboard-input-gprs {
  display: inline-block;
}
.is-gprs .dashboard-input-nc12 {
  width: 233px;
}
.is-gprs .dashboard-input-gprs > .form-control,
.is-gprs .dashboard-input-nc12 > .form-control {
  font-size: 32px;
}
.dashboard-input-multipleLocalSocketsDialog .modal-content {
  border: 5px solid #d9534f;
}
.dashboard-input-multipleLocalSocketsDialog .modal-body {
  font-size: 16px;
}
