.page[data-id="dashboard"] > .bd {
  margin-top: 0;
}
.page[data-id="dashboard"] > .ft {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
.dashboard {
  padding-top: 5px;
  display: flex;
  width: 100%;
}
.dashboard .form-control {
  border-width: 2px;
}
.dashboard-left {
  width: 480px;
  flex-shrink: 0;
  z-index: 1;
}
.dashboard-right {
  margin-left: 14px;
  flex-grow: 1;
}
.dashboard-input-mode,
.dashboard-focus,
.dashboard-license {
  position: absolute;
  top: 9px;
  right: 15px;
  z-index: 1031;
  padding: 6px 6px;
  line-height: 1;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 18px;
  text-transform: lowercase;
  text-shadow: 1px 1px 2px #444;
  min-width: 160px;
}
.dashboard-focus.active {
  cursor: default;
  box-shadow: none;
}
.dashboard-license.active {
  z-index: 1032;
  cursor: pointer;
  box-shadow: none;
}
.dashboard-input-mode {
  right: 184px;
}
.dashboard-input .form-control {
  padding: 0 5px;
  height: 73px;
  line-height: 1;
  font-family: "Source Code Pro", monospace;
  font-size: 58px;
  text-align: center;
}
.dashboard-input .btn-block {
  margin-top: 0;
}
.dashboard-input label,
.dashboard h3 {
  margin: 0 0 5px 0;
  line-height: 1;
  font-size: 24px;
  font-weight: normal;
}
.dashboard-input-orderAndQuantity {
  white-space: nowrap;
}
.dashboard-input-orderAndQuantity > .form-group {
  display: inline-block;
}
.dashboard-input-orderAndQuantity > .form-group:first-child {
  width: 330px;
  margin-right: 14px;
  position: relative;
}
.dashboard-input-orderAndQuantity > .form-group:last-child {
  width: 135px;
}
.dashboard-input-orderAndQuantity .is-overflow {
  color: #A94442;
}
.dashboard-input-nc12 {
  width: 480px;
}
.dashboard-input-program,
.dashboard-input-cancel {
  padding: 0;
  width: 480px;
  height: 73px;
  line-height: .5;
  font-size: 64px;
  font-variant: small-caps;
  text-transform: lowercase;
  border-width: 2px;
}
.dashboard-input.is-auto .form-control[disabled] {
  cursor: default;
}
.dashboard-input .btn > span {
  display: block;
  margin-top: -11px;
}
.dashboard-input-cancel {
  display: none;
}
.dashboard-input-resetOrder,
.dashboard-input-repeatOrder {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  line-height: 1;
  font-size: 24px;
  color: hotpink;
}
.dashboard-input-repeatOrder {
  right: 34px;
  color: #428BCA;
}
.dashboard-input-resetOrder:focus {
  color: hotpink;
}
.dashboard-input-resetOrder:hover,
.dashboard-input-resetOrder:active {
  color: deeppink;
}
.is-programming .dashboard-input-program {
  display: none;
}
.is-programming .dashboard-input-cancel {
  display: block;
}
.dashboard-log {
  position: relative;
  margin-top: 14px;
  width: 480px;
  cursor: default!important;
  background: #fcfcfc!important;
  resize: none;
  overflow-y: scroll;
}
.dashboard-log p {
  margin-bottom: 5px;
}
.dashboard-log p:last-child {
  margin-bottom: 0;
}
.dashboard-log p:last-child span {
  font-weight: bold;
}
.dashboard-log time {
  color: #999;
}
.dashboard-log span {
  margin-right: 5px;
}
.dashboard-log code {
  white-space: pre-line;
}
.dashboard-log-countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -225px;
  width: 450px;
  height: 240px;
  font-size: 240px;
  font-family: "Source Code Pro", monospace;
  line-height: 1;
  text-align: center;
  text-shadow: 0 0 12px #999;
  color: #000;
}
.dashboard-carousel {
  margin: 14px 0 0 0;
  overflow-x: visible;
}
.dashboard-carousel .flip-item {
  width: 256px;
  height: 256px;
}
.dashboard-carousel .flip-items img {
  box-shadow: none;
}
.dashboard-carousel .flip-prev,
.dashboard-carousel .flip-next {
  opacity: .75;
}
.dashboard-carousel.no-rotate .flip-prev {
  -webkit-transform: translateX(-45%) translateZ(0) scale(0.7);
}
.dashboard-carousel.no-rotate .flip-next {
  -webkit-transform: translateX(45%) translateZ(0) scale(0.7);
}
.dashboard-history .list-group {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 0;
  padding-bottom: 24px;
  height: 278px;
  border: 2px solid #ccc;
}
.dashboard-history .list-group-item {
  display: table-row;
  padding: 0;
  border-width: 2px 2px 0 0;
  border-color: #ccc;
  line-height: 1;
  white-space: nowrap;
}
.dashboard-history .list-group-item:first-child {
  border-top-width: 0;
  font-weight: bold;
}
.dashboard-history span {
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  border-right: 2px solid #ccc;
  width: 1%;
  border-bottom: 2px solid #ccc;
}
.dashboard-history .dashboard-history-programName {
  text-align: left;
}
.dashboard-history span:last-child {
  width: auto;
}
.dashboard-history .fa-spinner {
  margin: 7px;
  font-size: 58px;
}
.dashboard-history .fa-spinner.is-error {
  color: #e00;
}
.dashboard-history-title {
  font-style: normal;
  float: right;
}
.dashboard-orderFinishedDialog-label {
  margin: 0;
  line-height: 1;
}
.dashboard-orderFinishedDialog-label.is-first {
  margin-top: 0;
}
.dashboard-orderFinishedDialog-value {
  margin: 7px 0 14px 0!important;
  font-size: 24px;
  line-height: 1;
}
.dashboard-orderFinishedDialog kbd {
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
}

.dashboard-license-animate {
  animation: licenseAnimationFrames linear 1s;
  animation-iteration-count: 1;
  -webkit-animation: licenseAnimationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
}

@keyframes licenseAnimationFrames {
  0% {
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  10% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  20% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  30% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1);
  }
  40% {
    transform: rotate(-3deg) scaleX(1.1) scaleY(1.1);
  }
  50% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1);
  }
  60% {
    transform: rotate(-3deg) scaleX(1.1) scaleY(1.1);
  }
  70% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1);
  }
  80% {
    transform: rotate(-3deg) scaleX(1.1) scaleY(1.1);
  }
  90% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1);
  }
  100% {
    transform: rotate(0deg) scaleX(1.1) scaleY(1.1);
  }
}

@-webkit-keyframes licenseAnimationFrames {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  10% {
    -webkit-transform: rotate(-3deg) scale(0.8);
  }
  20% {
    -webkit-transform: rotate(-3deg) scale(0.8);
  }
  30% {
    -webkit-transform: rotate(3deg) scale(1.1);
  }
  40% {
    -webkit-transform: rotate(-3deg) scale(1.1);
  }
  50% {
    -webkit-transform: rotate(3deg) scale(1.1);
  }
  60% {
    -webkit-transform: rotate(-3deg) scale(1.1);
  }
  70% {
    -webkit-transform: rotate(3deg) scale(1.1);
  }
  80% {
    -webkit-transform: rotate(-3deg) scale(1.1);
  }
  90% {
    -webkit-transform: rotate(3deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.1);
  }
}
