<div class="panel panel-default programs-details-sol">
  <div class="panel-heading">
    <%- t('programs', 'step:sol') %>
  </div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('programs', 'PROPERTY:voltage') %></div>
        <div class="prop-value"><%= step.voltage.toLocaleString() %></div>
      </div>
    </div>
  </div>
</div>
