<div class="panel-actions">
  <button class="btn btn-default" type="button" role="moveStepUp"><i class="fa fa-arrow-up"></i></button>
  <button class="btn btn-default" type="button" role="moveStepDown"><i class="fa fa-arrow-down"></i></button>
  <button class="btn btn-danger" type="button" role="removeStep"><i class="fa fa-times"></i></button>
</div>