<div class="dashboard-carousel">
  <ul>
    <li data-item-id="program"><img src="/app/dashboard/assets/smiley-program.png">
    <li data-item-id="success"><img src="/app/dashboard/assets/smiley-success.png">
    <li data-item-id="failure"><img src="/app/dashboard/assets/smiley-failure.png">
  </ul>
</div>
