<li class="list-group-item dashboard-componentWeights-componentWeight" data-no="<%- no %>">
  <div class="dashboard-componentWeights-no"><%- no %></div>
  <div class="dashboard-componentWeights-info">
    <span class="dashboard-componentWeights-name"><%= description %></span>
    <span class="dashboard-componentWeights-weight"><%= weight %> g</span>
  </div>
</li>
