<div class="dashboard">
  <div class="dashboard-left">
    <kbd class="is-inside" data-hotkey="focusLog">R</kbd>
  </div>
  <div class="dashboard-right"></div>
  <a class="btn btn-danger active dashboard-license" href="#settings?tab=license"><%- t('dashboard', 'license:error') %></a>
</div>
