<div>
  <%- t('core', 'embedded:' + action + ':message') %>
  <div class="form-actions">
    <button class="btn btn-lg btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- t('core', 'embedded:' + action + ':yes') %></button>
    <button class="btn btn-lg btn-link cancel" type="button"><%- t('core', 'embedded:' + action + ':no') %></button>
  </div>
</div>
