<div class="updater-updating">
  <h1><%- t('updater', 'title') %></h1>
  <div class="progress">
    <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 100%"></div>
  </div>
  <p><%- t('updater', 'p1', {fromVersion: fromVersion, toVersion: toVersion}) %></p>
  <p><%- t('updater', 'p2') %></p>
</div>