.filter-container {
  margin-bottom: 1em;
}
.filter-container > .well {
  padding: 1em 1em 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.filter-form .form-group {
  display: inline-block;
  margin-left: 1em;
  margin-bottom: 1em;
  vertical-align: top;
}
.filter-form.is-vertical {
  flex-direction: column;
  align-items: flex-start;
}
.filter-form input {
  margin-bottom: 0;
}
.filter-form input[name="limit"] {
  width: 5em;
  text-align: right;
}
.filter-form .filter-actions {
  margin-left: 1em;
  vertical-align: bottom;
}
.filter-form.is-vertical .filter-actions {
  padding-left: 0;
  margin-left: 1em;
  border-left: 0;
}
.filter-actions .dropdown-menu a {
  cursor: pointer;
}
.filter-actions > hr {
  display: inline-block;
  margin: 0 1em;
  padding: 0;
  width: 1px;
  height: 35px;
  border-left: 1px solid #e3e3e3;
  vertical-align: bottom;
}
.filter-actions > hr:first-child {
  margin-left: 0;
}
.filter-actions > hr:last-child {
  margin-right: 0;
}
.filter-label.radio {
  margin-top: 0;
  margin-bottom: 5px;
}
.filter-form .orgUnitDropdowns-container {
  display: inline-block;
}
.filter-form .orgUnitDropdowns .form-group {
  min-width: 150px;
}
.filter-btn-group {
  display: block;
}
.filter-form .filter-dateRange {
  margin-bottom: 0;
}
.filter-dateRange .control-label {
  margin-top: .5em;
  margin-bottom: 0;
  vertical-align: top;
  font-weight: normal;
}
.filter-dateRange label + label {
  margin-left: .5em;
}
.filter-dateRange .form-control {
  display: inline-block;
  margin-bottom: 1em;
  width: 12em;
}
.filter-dateRange input[type=radio] {
  margin-top: 0;
}
input[type=checkbox].filter-inLabel {
  margin-top: -2px;
  vertical-align: middle;
}
.filter-radio-group {
  margin-top: 5px;
  height: 29px;
}
.filter-radioLabels > label {
  margin-left: 1em;
  margin-bottom: 3px;
  vertical-align: top;
}
.filter-radioLabels > label:first-child {
  margin-left: 0;
}
.form-control.is-expanded {
  height: auto;
  position: absolute;
  z-index: 110;
}
.form-control.is-expandable {
  max-width: 300px;
}
