.form-group:last-child {
  margin-bottom: 0;
}
.row > .form-group:last-child {
  margin-bottom: 15px;
}
.control-label,
.checkbox > .control-label,
.radio > .control-label {
  font-weight: bold;
}
.control-label.is-required:after {
  content: "*";
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  color: #f00;
}
.control-label + .form-control-static {
  padding: 0;
}
.form-control {
  padding: 6px;
  background-color: #fcfcfc;
}
.form-control:focus {
  background-color: #fff;
}
.form-control[readonly]:focus,
.form-control[disabled]:focus {
  background-color: #eee;
}
.form-control[type="date"] {
  width: 11em;
}
.form-control[type="number"] {
  text-align: right;
}
.form-control[type="number"].small {
  width: 8em;
}
.form-actions {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.form-actions:last-child {
  margin-bottom: 0;
}
.form-actions a.cancel {
  margin-left: 1em;
}
.checkbox,
.radio {
  margin-bottom: 0;
}
.checkbox + .checkbox,
.radio + .radio {
  margin-top: .25em;
}
.control-label + .checkbox,
.control-label + .radio {
  margin-top: 0;
}
.form-group-datetime {
  display: flex;
}
.form-group-datetime > input[type="date"] {
  width: 145px;
  margin-right: 1px;
}
.form-group-datetime > input[type="time"] {
  width: 110px;
}
.form-group-dateRange > div:first-child > .radio-inline {
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group-dateRange > div:last-child > .radio-inline {
  font-weight: normal;
}
.form-group-dateRange > div:last-child > input {
  display: inline-block;
}
.form-group.has-required-select2 {
  position: relative;
}
.form-group.has-required-select2 > input[tabindex="-1"] {
  top: auto!important;
  bottom: 0!important;
  left: 50%!important;
}
input::-webkit-datetime-edit {
  font-size: 12px;
}
input:enabled:read-write::-webkit-calendar-picker-indicator,
input:enabled:read-write::-webkit-inner-spin-button,
input:enabled:read-write::-webkit-clear-button {
  opacity: 1;
}
input.no-controls::-webkit-clear-button,
input.no-controls::-webkit-inner-spin-button {
  display: none;
}
.form-group-horizontal > .form-group {
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
}
.form-group-horizontal > .form-group:last-child {
  margin-bottom: 15px;
}
.form-group-horizontal + .checkbox {
  margin-top: 0;
}
.form-control[size="1"] {
  height: 34px;
  padding-top: 8px;
}
