table.highcharts-tooltip {
  width: 100%;
  white-space: nowrap;
}
.highcharts-tooltip-integer {
  font-family: Consolas, monospace;
  padding: 0 0 0 5px;
  text-align: right;
  width: 1%;
}
.highcharts-tooltip-fraction {
  font-family: Consolas, monospace;
  padding: 0 5px 0 0;
  width: 1%;
}
.highcharts-tooltip-suffix {
  font-family: Consolas, monospace;
  width: 1%;
}
