.navbar {
  margin-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.navbar-brand {
  padding-top: 16px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
  text-transform: uppercase;
}
.navbar-brand-company {
  color: #000;
}
.navbar-brand-product {
  color: #0b5ed7;
}
.navbar-default {
  box-shadow: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0B5ED7;
}
.navbar-account-dropdown {
  font-weight: bold;
}
.navbar-status-offline {
  color: #DA4F49;
}
.navbar-status-online {
  color: #5BB75B;
}
.navbar-status-connecting {
  color: #f0ad4e;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar-toggle .icon-bar {
  margin-left: 0;
}
.navbar-toggle:hover {
  border-color: #5e5e5e;
}
.navbar-toggle:hover .icon-bar {
  background-color: #5e5e5e;
}
.navbar-default .dropdown-header {
  font-weight: bold;
}
@media (min-width: 768px) {
  .navbar {
    min-height: 0;
  }
  .navbar-default {
    background: linear-gradient(to bottom, #f8f8f8 70%, #f0f0f0);
  }
  .navbar-default .navbar-nav > li > a {
    color: #333;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background: linear-gradient(to bottom, #e8e8e8 70%, #e0e0e0);
  }
}
