.navbar-brand {
  padding-top: 14px;
  font-size: 28px;
  font-variant: small-caps;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
}
.navbar-brand-company {
  color: #000;
}
.navbar-brand-product {
  color: #0B5ED7;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0B5ED7;
}
.navbar-account-dropdown {
  font-weight: bold;
}
.navbar-status-offline {
  color: #DA4F49;
}
.navbar-status-online {
  color: #5BB75B;
}
.navbar-status-connecting {
  color: #f0ad4e;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar-toggle .icon-bar {
  margin-left: 0;
}
.navbar-toggle:hover {
  border-color: #5e5e5e;
}
.navbar-toggle:hover .icon-bar {
  background-color: #5e5e5e;
}
.navbar-default .dropdown-header {
  font-weight: bold;
}
.navbar-feedback {
  font-variant: small-caps;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.4em;
  text-shadow: 1px 1px 1px #333;
  margin-right: 14px;
}
.navbar-feedback:active {
  text-shadow: 1px 1px 3px #333;
}
