body.print {
  margin: 0 auto;
  text-align: center;
  line-height: 1;
  color: #000;
}
.print-page {
  margin: 1cm auto;
  padding: 1cm;
  width: 793px;
  border: 1px solid #000;
  box-shadow: 0 3px 6px #666;
  font-size: 12px;
  text-align: left;
}
.print-page:only-child {
  margin: 1cm auto;
}
.print-page.print-page-fit {
  height: 1122px;
}
.print-page-hd {
  margin-bottom: 5mm;
  padding-bottom: 5mm;
  border-bottom: 1px solid #000;
}
.print-page-hd-left {
  font-size: 16px;
  font-weight: bold;
}
.print-page-ft {
  margin-top: 5mm;
  padding-top: 5mm;
  border-top: 1px solid #000;
  font-size: 10px;
}
.print-page-ft-left,
.print-page-hd-left {
  margin: 0;
  padding: 0;
}
.print-page-hd-right {
  line-height: 16px;
}
.print-page-ft-right,
.print-page-hd-right {
  float: right;
  margin: 0;
  padding: 0;
}
.print-page-bd-container {
  width: 715px;
  overflow: hidden;
}
.print-page-bd .table-bordered,
.print-page-bd .table-bordered th,
.print-page-bd .table-bordered td {
  border-color: #000!important;
}
.print-page-bd .table-condensed th,
.print-page-bd .table-condensed td {
  padding: 2px!important;
}
.print-page-bd-container > .print-page-bd {
  height: 100%;
}
.print-page-bd .list-item {
  height: 22px;
}
.print-page-bd .table th {
  white-space: nowrap;
}
@media print {
  .print-page {
    margin: 0!important;
    border-color: transparent;
    box-shadow: none;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px!important;
  }
  body {
    margin-top: 0!important;
  }
  .page-actions,
  .ft {
    display: none!important;
  }
  .page-breadcrumbs li {
    font-size: 24px!important;
  }
  .highcharts-button {
    display: none;
  }
}
