.props {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.prop {
  display: table-row;
}
.prop:hover {
  background-color: #FFFFD6;
}
.prop:first-child,
.prop + .prop {
  border-top: 1px dotted #d4d4d4;
}
.props.first .prop:first-child {
  border-top: 0;
}
.prop-name,
.prop-value {
  display: table-cell;
  padding: .5em;
}
.prop-name {
  font-weight: bold;
  white-space: nowrap;
  width: 30%;
}
.prop-value > ul,
.prop-value > ol {
  padding-left: 0;
  list-style-position: inside;
}
@media (min-width: 992px) {
  .prop:first-child {
    border-top: 0;
  }
  .prop-name {
    width: 1%;
  }
}
