.table {
  margin-bottom: 1em;
}
.table-bordered > thead > tr > th.sortable:hover {
  border-bottom-color: #428BCA;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
td.is-number {
  font-family: Consolas, Menlo, Monaco, monospace;
  text-align: right;
}
.table .actions {
  white-space: nowrap;
  width: 1%;
}
.table .actions .btn {
  min-width: 40px;
  box-sizing: border-box;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td {
  background-color: #c4e3f3;
  border-color: #a6e1ec;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th,
.table-hover > tbody > tr.is-hovered > td {
  background-color: #FFFFD6;
}
.is-shrinked > .table > tbody > tr > td {
  white-space: nowrap;
  width: 1px;
}
.is-shrinked > .table > tbody > tr > td:nth-last-child(2) {
  width: auto;
}
th.is-min,
td.is-min {
  width: 1px;
  white-space: nowrap;
}
.is-colored .table,
.is-colored .table tr th,
.is-colored .table tr td,
.is-colored > .table-responsive,
.is-colored .actions .btn {
  border-color: #bbb;
}
